/* DESKTOP AAAAAAAAAAAA */
@media screen and (min-width: 1000px) {
  /* Limpar badalhoquices */
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
  /* Fim das badalhoquices */

  /* nav ul {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    width: auto;
    color: red;
  } */

  main {
    max-width: 900px;
    margin: 0 auto;
  }

  section article {
    background: none;
    margin: 0;
    padding: 0;
    color: black;
  }

  /* RESEARCH DETAIL_ESPECIFICIDADES*/

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .bloco_informativo {
    flex: 1;
    /* max-width: 45%; */
    background-color: var(--secondaryColor);
  }

  .bloco_informativo section article {
    background-color: var(--primaryColor);
  }

  .bloco_informativo figure {
    flex: 1;
  }

  .bloco_informativo figure img {
    border-radius: 8px;
  }

  .bloco_informativo h2,
  .bloco_informativo p {
    flex: 1;
    margin: 0;
    color: white;
  }

  .bloco_informativo h2 {
    /* font-size: 24px; */
    font-size: 30px;
    text-align: left;
    padding: 0 20px;
    font-family: "Oxygen", sans-serif;
  }

  .bloco_informativo p {
    margin: 0 20px;
    /* font-size: 16px;
  line-height: 1.6; */
    font-size: 22px;
    line-height: 34px;
    text-align: left;
    font-family: "Oxygen", sans-serif;
  }

  /* FIM_RESEARCH DETAIL_ESPECIFICIDADES*/

  section article .desktop div:first-of-type {
    width: 30%;
  }

  section article .desktop div:nth-last-of-type(2) {
    width: 70%;
  }

  /* LISTA RESEARCH DETAIL */
  .lista_goals {
    min-height: unset;
  }

  .lista_goals ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
  }

  /* COISAS ESPECÍFICAS */

  p {
    font-size: 22px;
    line-height: 34px;
  }

  .note {
    font-size: 22px;
    line-height: 28px;
  }

  /* === HERO === */
  .hero {
    position: relative;
    height: calc(450px + 10vw);
    overflow: hidden;
  }

  .hero h1 {
    font-size: 96px;
    line-height: 100px;
    text-transform: uppercase;
  }

  .hero .hero-text {
    margin: 0 calc((100% - 900px) / 2);
  }

  .hero h1.hero-text {
    margin-bottom: 10%;
  }

  .hero figcaption {
    margin: -170px 0 20px;
  }

  .subtitle {
    font-size: 76px;
  }

  /* === HERO FIM === */

  /* === MAIN PAGE FEATURE === */

  #img1 {
    height: 100vh;
  }

  #cursor {
    position: absolute;
    z-index: 1;
    width: 600px;
    height: auto;
    border-radius: 50%;
    mix-blend-mode: color-burn;
  }

  #animation {
    display: none;
  }

  /* === PARÁGRAFOS === */
  h2 {
    font-size: 64px;
    /* line-height: 80px; */
  }

  h3 {
    font-size: 36px;
    line-height: 45px;
  }

  h4 {
    font-size: 30px;
    /* line-height: 38px; */
  }

  #content_main {
    display: none;
  }

  #content_main_desktop {
    position: relative;
    display: block;
  }

  /* === FOOTER === */

  footer div.logo_flex_container {
    position: relative;
    display: flex;
    padding: 20px 20px 0;
  }

  footer .logo_flex_container img {
    width: 80px;
  }

  /* article {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    padding: 20px;
  } */
}
