/* === FONTES === */

@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Oxygen:wght@300;400;700&display=swap");

.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* === COISAS GERAIS === */

html {
  --COLOR-PRI: #3453d6;
  --COLOR-SEC: #e8622b;
}

/* === PARÁGRAFOS === */

h1 {
  font-family: "Oxanium", sans-serif;
  font-size: 36px;
  font-variation-settings: "wght" 700;
}

h2 {
  font-family: "Oxanium", sans-serif;
  font-size: 32px;
  font-variation-settings: "wght" 700;
}

h3 {
  font-family: "Oxanium", sans-serif;
  font-size: 20px;
  font-variation-settings: "wght" 700;
}

h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

strong {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.note {
  font-family: "Oxanium", sans-serif;
  font-size: 16px;
  line-height: auto;
}

/* isto serve para adicionar a palavra "Note: " antes do texto. pode-se tirar o texto "Note: " do HTML */
.note::before {
  content: "Note: ";
  font-weight: 700;
}
